- variant = 'control'
%div.experiment-container.experiment-control

  .container.slp-container#plans
    .row.u-padding-top-sm
      -# reminder to Digital Experience team to update the below to reflect 10620's include structure. The direct HAML below is a temporary solution during this test.
      - variant = 'control'
      %div.cmp-pricing-plan-list
        .row.pricing-nav-mobile
          -# empty div where the navigation will go once generated by javascript
        .row.plans
          - control_pricing_plans = data.pricing.plans.dup
          -# Must use .dup otherwise you're referencing the same object when copying the variable.
          - control_plans = control_pricing_plans
          - control_plans.each_with_index do |plan_control, index|
            - free = plan_control.id == 'free'
            %div{class: "col-md-4 plan plan-#{plan_control.id}"}
              .plan-inner-wrapper
                .content
                  .title= plan_control.title
                  .description= plan_control.description
                  -#.sub-description= plan_control.sub_description
                  .price $#{plan_control.monthly_price}
                  - unless free
                    .price-monthly /user/month
                    .price-annually (Billed annually at $#{plan_control.monthly_price * 12} USD)
                  -#.plan-reason= plan_control.reason
                  %div{ class: "btn cta-btn start-#{plan_control.id}", data: { target: "##{plan_control.id}-modal-#{variant}", toggle: 'modal' } }= free ? 'Start now' : 'Buy now'
                .features
                  .feature-title= free ? 'Includes' : "All the benefits of #{control_plans[index - 1].title}&nbsp;+"
                  %ul
                    - plan_control.features.each do |feature|
                      %li
                        %span.icon= partial "/images/icons/slp-checkmark.svg"
                        %span= feature.title
                  .benefits-view-more
                    %span.underline View more benefits 
                    %span.icon= partial "/images/icons/slp-caret-down.svg"
                - if plan_control.features_more
                  .benefits-view.hidden
                    %ul
                      - plan_control.features_more.each do |feature|
                        %li
                          %span.icon= partial "/images/icons/slp-checkmark.svg"
                          %span= feature.title
                    .benefits-view-less
                      %span.underline Hide benefits 
                      %span.icon= partial "/images/icons/slp-caret-up.svg"
                    %div{ class: "btn cta-btn start-#{plan_control.id}", data: { target: "##{plan_control.id}-modal-#{variant}", toggle: 'modal' } }= free ? 'Start now' : 'Buy now'


      - data.pricing.plans.each do |plan|
        -# generate the "start now / buy now" self-managed vs saas modal so it can be displayed when clicking a related button
        = partial '/pricing/_modal2020', locals: plan_modal_options(plan, variant)
